body {
    margin: 0px;
    background-color: #FDF8EC;
    color: #0C3546;
}

header, footer {
    background-color: #303036;
    color: #BFB1C1;
    text-align: center;
    padding: 1%;
}

header {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

nav {
    background-color: #BFB1C1;
    padding: 0.5%;
    display: flex;
    justify-content: space-around;
}

#masthead h1 a {
    text-decoration: none;
    color: #BFB1C1;
}

#masthead h1 a:hover {
    color: beige;
}

nav a {
    text-decoration: none;
    color: #0C3546;
}

nav a:hover {
    color: #1B769D;
}